* {
    margin: 0px;
    padding: 0px;
}
/* header */
.header {
    position: sticky;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(253, 251, 251);
    border-bottom: 3px solid rgb(243, 240, 240);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 50px;
    width: 90px;
    background-image: url("myntralogo.jpeg");
    background-size: cover;
    background-color: rgb(250, 247, 247);

}

.categories {
    font-weight: 450;
    font-size: 1.2rem;
}

.categories a {
    padding: 8px;
    color: #282c3f;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

sup {
    color: #FF3F6C;
    font-weight: 0.1rem;
}

.search {
    height: 40px;
    width: 500px;
    border: 2px solid rgb(219, 213, 213);
    border-radius: 7%;
    display: flex;

}

.search-icon {
    padding: 2px 5px 3px 5px;
    font-size: 1rem;
    color: #696e79;
    align-self: center;

}

.search-input {
    padding-left: 15px;
    font-family: inherit;
    border: none;
    width: 100%;
    background-color: #F5F5F6;
    font-size: 1.2rem;
    display: inline;
}

.info {
    font-weight: 100;
    font-size: 1rem;
    display: flex
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel1 {
    margin-top: 40px;
    background-image: url("img1.png");
    background-size: cover;
    width: 90vw;
    height: 12vh;

}

.panel2 {
    background-image: url("img.jpg");
    background-size: cover;
    width: 93vw;
    height: 60vh;
    margin-top: 10px;
}

.panel3 {
    background-image: url("img2.jpeg");
    background-size: cover;
    width: 93vw;
    height: 10vh;
    margin-bottom: 10px;
}

.panel4 {
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url("img3.jpg");
    background-size: cover;
    width: 93vw;
    height: 11vh;
}

.section1 {
    display: flex;
    /* border-radius: 10%; */
    width: 96%;
    height: 300px;
}

.img {
    height: 290px;
    width: 17%;

}

.images1 {

    background-image: url("img4.png");
    background-size: cover;
}

.images2 {
    background-image: url("img5.png");
    background-size: cover;
}

.images3 {
    background-image: url("img6.png");
    background-size: cover;
}

.images4 {
    background-image: url("img7.png");
    background-size: cover;
}

.images5 {
    background-image: url("img8.png");
    background-size: cover;
}

.images6 {
    background-image: url("img9.png");
    background-size: cover;
}

.panel5 {
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url("img16.jpg");
    background-size: cover;
    width: 93vw;
    height: 13vh;
}

.section2 {
    display: flex;
    /* border-radius: 10%; */
    width: 94%;
    height: 380px;
    margin-bottom: 0px;
}

.images7 {

    background-image: url("img17.jpg");
    background-size: cover;
}

.images8 {
    background-image: url("img18.jpg");
    background-size: cover;
}

.images9 {
    background-image: url("img19.jpg");
    background-size: cover;
}

.images10 {
    background-image: url("img20.jpg");
    background-size: cover;
}

.images11 {
    background-image: url("img21.jpg");
    background-size: cover;
}



.panel6 {
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url("img27.jpg");
    background-size: cover;
    width: 93vw;
    height: 13vh;
}

.Img {
    height: 360px;
    width: 100%;

}

.section3 {
    display: flex;
    /* border-radius: 10%; */
    width: 96%;
    height: 300px;
}

.Images1 {

    background-image: url("img28.png");
    background-size: cover;
}

.Images2 {
    background-image: url("img29.png");
    background-size: cover;
}

.Images3 {
    background-image: url("img30.png");
    background-size: cover;
}

.Images4 {
    background-image: url("img31.png");
    background-size: cover;
}

.Images5 {
    background-image: url("img32.png");
    background-size: cover;
}

.Images6 {
    background-image: url("img33.png");
    background-size: cover;
}

.panel7 {
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url("img60.jpg");
    background-size: cover;
    width: 93vw;
    height: 13vh;
}



FOOTER{
    padding: 30px;
    width: 100%;
    height: 800px;
    background-color: #F5F5F6;
    color: #696e79;
}

footer a{
    display: flex;
}